@import 'tailwindcss';

@layer utilities {
  :root {
    --light-colour: #ffffff;
    --dark-colour: #18181b;
    --primary: #ebbab9;
    --secondary: #ff9997;
    --third: #eb477e;
  }

  html {
    scroll-behavior: smooth;
  }

  [data-theme='dark'] {
    --background: var(--dark-colour);
    --foreground: var(--light-colour);
    --projectBackground: #242425dd;
    --projectBorder: #404040;
  }

  [data-theme='light'] {
    --background: var(--light-colour);
    --foreground: var(--dark-colour);
    --projectBackground: #f3f3f3dd;
    --projectBorder: #d4d4d4;
  }

  [data-theme='auto'] {
    --background: var(--light-colour);
    --foreground: var(--dark-colour);
    --projectBackground: #f3f3f3dd;
    --projectBorder: #d4d4d4;
  }
  @media (prefers-color-scheme: dark) {
    [data-theme='auto'] {
      --background: var(--dark-colour);
      --foreground: var(--light-colour);
      --projectBackground: #242425dd;
      --projectBorder: #404040;
    }
  }
}

@layer base {
  h1,
  h2,
  h3,
  pre,
  p,
  hr {
    @apply mb-4;
    @apply mt-4;
  }
  h1 {
    @apply text-2xl;
    @apply font-bold;
  }
  h2 {
    @apply text-xl;
    @apply font-bold;
  }
  h3 {
    @apply text-lg;
    @apply font-bold;
  }
  hr {
    @apply border-gray-500;
    @apply rounded-md;
    @apply border-t-4;
  }
}

.callout p {
  margin: 0;
}
