@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-rgb: 24, 24, 27;
}

/* @media (prefers-color-scheme: dark) { */
/*   :root { */
/*     --foreground-rgb: 255, 255, 255; */
/*     --background: 24, 24, 27; */
/*     --background-end-rgb: 0, 0, 0; */
/*   } */
/* } */

body {
  color: rgb(var(--foreground-rgb));
  background-color: rgb(var(--background-rgb));
}

.secondary-colour {
  color: #ff9997;
}

.primary-colour {
  color: #ebbab9;
}

@layer base {
  h1, h2, h3, pre, p, hr {
    @apply mb-5;
  }
  h1 {
    @apply text-2xl;
    @apply font-bold;
  }
  h2 {
    @apply text-xl;
    @apply font-bold;
  }
  h3 {
    @apply text-lg;
    @apply font-bold;
  }
  hr {
    @apply border-gray-500;
    @apply rounded-md;
    @apply border-t-4;
  }
}
/* body { */
/*   color: rgb(var(--foreground-rgb)); */
/*   background: linear-gradient( */
/*       to bottom, */
/*       transparent, */
/*       rgb(var(--background-end-rgb)) */
/*     ) */
/*     rgb(var(--background-start-rgb)); */
/* } */
