.logo-left-1 {
  transform: translateX(-110px);
}
.logo-left-2 {
  transform: translateX(-90px);
}
.logo-left-3 {
  transform: translateX(-60px);
}
.logo-left-4 {
  transform: translateX(-35px);
}
.logo-right-1 {
  transform: translateX(110px);
}
.logo-right-2 {
  transform: translateX(90px);
}
.logo-right-3 {
  transform: translateX(60px);
}
.logo-right-4 {
  transform: translateX(35px);
}

@media (min-width: 1024px) {
  .logo-left-1 {
    transform: translateX(-200px);
  }
  .logo-left-2 {
    transform: translateX(-150px);
  }
  .logo-left-3 {
    transform: translateX(-100px);
  }
  .logo-left-4 {
    transform: translateX(-65px);
  }
  .logo-right-1 {
    transform: translateX(200px);
  }
  .logo-right-2 {
    transform: translateX(150px);
  }
  .logo-right-3 {
    transform: translateX(100px);
  }
  .logo-right-4 {
    transform: translateX(65px);
  }
}
